<script src="/cgi-bin/luci/admin/services/openclash/translate_js?f=common&v=<%="@OPENCLASH_VERSION@"%>&l=<%=luci.i18n.context.lang%>"></script>
<link rel="stylesheet" href="/luci-static/resources/openclash/css/oc-common.css?v=<%="@OPENCLASH_VERSION@"%>">
<link rel="stylesheet" href="/luci-static/resources/openclash/css/oc-config.css?v=<%="@OPENCLASH_VERSION@"%>">

<div id="my_editor_div" class="oc-flex-center">
	<div id="config-mode-tabs" class="oc-flex-center" style="width:100%;">
		<div class="mode-tabs">
			<button type="button" class="mode-tab active" id="tab-original-config">
			<svg width="16" height="16"><use href="#oc-icon-list"/></svg>
			<span><%:Original Config%></span>
		</button>
		<button type="button" class="mode-tab" id="tab-runtime-config">
			<svg width="16" height="16"><use href="#oc-icon-zap"/></svg>
			<span><%:Runtime Config%></span>
			</button>
		</div>
	</div>
</div>

<button type="button" class="oc-usage-help-float" id="oc-merge-toggle-btn" title="<%:Compare%>">
	<svg width="24" height="24"><use href="#oc-icon-compare"/></svg>
</button>

<div id="oc-merge-help" class="oc-hidden">
	<span id="oc-merge-help-normal"><%:Press%> <b style="color:var(--success-color)">F11</b> <%:for fullscreen,%> <b style="color:var(--success-color)">Esc</b> <%:to exit fullscreen,%> <b style="color:var(--success-color)">Ctrl + <%:Mouse Wheel%></b> <%:to zoom%></span>
	<span id="oc-merge-help-merge" class="oc-hidden"><%:Press%> <b style="color:var(--success-color)">F10</b> <%:to toggle differences,%> <b style="color:var(--success-color)">F11</b> <%:for fullscreen,%> <b style="color:var(--success-color)">Esc</b> <%:to exit fullscreen,%> <b style="color:var(--success-color)">Ctrl + <%:Mouse Wheel%></b> <%:to zoom%></span>
</div>

<script src="/luci-static/resources/openclash/js/oc-icons.js?v=<%="@OPENCLASH_VERSION@"%>"></script>
<script src="/cgi-bin/luci/admin/services/openclash/translate_js?f=merge_editor&v=<%="@OPENCLASH_VERSION@"%>&l=<%=luci.i18n.context.lang%>"></script>
<script type="text/javascript">//<![CDATA[

(function() {

var myEditor_use = document.getElementById("cbid.table.1.user");
var myEditor_def = document.getElementById("cbid.table.1.default");

if (myEditor_use && myEditor_def) {
	var myEditor_div_use = document.getElementById("cbi-table-1-user");
	var myEditor_div_def = document.getElementById("cbi-table-1-default");

	myEditor_div_def.parentNode.parentNode.style.cssText = "text-align: left !important";
	myEditor_div_def.parentNode.className = 'cbi-value';
	myEditor_div_def.parentNode.style.display = "revert";
	myEditor_div_def.parentNode.style.width = "100%";

	myEditor_div_use.parentNode.className = 'cbi-value';
	myEditor_div_use.parentNode.style.display = "revert";
	myEditor_div_use.parentNode.style.width = "100%";

	myEditor_use.style.display = 'none';
	myEditor_def.style.display = 'none';
	ocShowLoading(myEditor_div_use, '<%:Loading...%>');

	ocQueueEditor(myEditor_div_use, function() {
		config_merge_editor(myEditor_use, myEditor_def, myEditor_div_use, myEditor_div_def, true, false, 'auto', '700px');
	});
}
})();

//]]>
</script>
