<style>
.cfg_label {
  display: block;
  white-space: nowrap;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  width: auto;
  height: 35px;
  position: relative;
  float: right;
  padding-top: 3px;
}
</style>

<div id="cfg_label"; class="cfg_label">
	<span>&nbsp;&nbsp;&nbsp;<%:Current Config File%>:&nbsp;
	<select id="cfg_name">
	</select>&nbsp;&nbsp;&nbsp;
	<input type="button" class="btn cbi-button cbi-button-apply" value="<%:Switch Config%>" onclick="return switch_config(this)" />
	&nbsp;&nbsp;&nbsp;
	</span>
</div>

<script type="text/javascript">//<![CDATA[
	var config_name = document.getElementById('cfg_name');
	var cfg_label = document.getElementById('cfg_label');
	document.getElementById('cbi-openclash_cfg_show').style.height = "40px";
	XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "config_name")%>', null, function(x, status) {
		if (x && x.status == 200 && status.config_name != "" && status.config_path != "") {
			for(var i in status.config_name){
        config_name.options.add(new Option(status.config_name[i].name,status.config_name[i].name));
    	}
    	config_name.value = status.config_path;
		}
		else if (x && x.status == 200 && status.config_path != "") {
			config_name.options.add(new Option(status.config_path,status.config_path));
			config_name.value = status.config_path;
		}
		else if (x && x.status == 200) {
			config_name.options.add(new Option("config.yaml","config.yaml"));
			config_name.value = "config.yaml";
		}
		else {
			cfg_label.style.display = "none";
		}
	});
	
	function switch_config(btn)
	{
		if (config_name.value && config_name.value != "") {
			btn.disabled = true;
			XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "switch_config")%>', {config_name: config_name.value}, function(x, status) {
				if (x && x.status == 200) {
    			btn.disabled = false;
    			alert(config_name.value + ' <%:switching succeeded!%>')
				}
				else {
					alert(config_name.value + ' <%:switching failed!%>')
				}
			});
			return false;
		}
	}
//]]></script>