<%+cbi/valueheader%>
<script type="text/javascript">
//<![CDATA[
function import_new_file_name(btn, file_path, file_name) {
		ocPrompt('<%:Paste the new file name (including the extension) here:%>', file_name, function(value, setError, close) {
			if (!value) return;
			if (file_path == "/etc/openclash/config/" && value.split('.').pop() != "yaml" && value.split('.').pop() != "yml") {
				setError('<%:Illegal extension!%>');
				return;
			}
			XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "rename_file")%>', {new_file_name: value, file_path: file_path, file_name: file_name}, function(x, status) {
				if (x && x.status == 200)
				{
					close();
					location.reload();
				}
				else
				{
					setError('<%:Rename Failed%>');
				}
			});
		});
		return false;
	}
	//]]>
</script>
<input type="button" class="btn cbi-button cbi-input-apply" value="<%:Rename%>" onclick="return import_new_file_name(this, '<%=self.option%>', '<%=self.value%>')" />
<%+cbi/valuefooter%>
