<%+cbi/valueheader%>
<script src="/cgi-bin/luci/admin/services/openclash/translate_js?f=server_url&v=@OPENCLASH_VERSION@&l=<%=luci.i18n.context.lang%>"></script>

<input type="button" class="btn cbi-button cbi-button-apply" value="<%:Import%>" onclick="return import_url(this, '<%=self.option%>', '<%=self.value%>')" />
<input type="button" class="btn cbi-button" value="<%:Export%>" onclick="return export_url(this, '<%=self.option%>', '<%=self.value%>')" />
<span id="<%=self.option%>-status"></span>
<%+cbi/valuefooter%>
