<head>
<style>
.tool_label {
  display: inline-block;
}
</style>
</head>

<div id="tool_label" class="tool_label">
	<span>
	&nbsp;&nbsp;<%:Current Config File%>:&nbsp;
	<select id="cfg_name">
	</select>&nbsp;&nbsp;
	<input type="button" class="btn cbi-button cbi-button-apply" value="<%:Switch Config%>" onclick="return switch_config(this)" />
	&nbsp;
	</span>
</div>

<table><tr id="tool_label2"><td colspan="4"><p align="center">
<span>
&nbsp;&nbsp;<%:Up:%>&nbsp;
	<span id="upload_">
		<font color=green>
		0 KB/S
		</font>
	</span>
</span>
<span>
&nbsp;&nbsp;<%:Down:%>&nbsp;
	<span id="download_">
		<font color=green>
		0 KB/S
		</font>
	</span>
</span>

<span>
&nbsp;&nbsp;<%:Connections:%>&nbsp;
	<span id="connect_t">
		<font color=green>
		0
		</font>
	</span>
</span>

<span>
&nbsp;&nbsp;<%:Ram:%>&nbsp;
	<span id="mem_t">
		<font color=green>
		0 KB
		</font>
	</span>
</span>

<span>
&nbsp;&nbsp;<%:CPU:%>&nbsp;
	<span id="cpu_t">
		<font color=green>
		0 %
		</font>
	</span>
	&nbsp;&nbsp;
</span>
</p></td></tr></table>


<script type="text/javascript">//<![CDATA[
	var config_name = document.getElementById('cfg_name');
	var tool_label = document.getElementById('tool_label');
	var tool_label2 = document.getElementById('tool_label2');
	var header1 = document.getElementsByClassName("tabmenu-item-log ")[0];
	var header2 = document.getElementById("dash");
	var header3 = document.getElementsByClassName("tabmenu-item-client ")[0];
	var header4 = document.getElementsByClassName("tabmenu-item-config ")[0];
	if (header1 && header3.className != "tabmenu-item-client active" && header4.className != "tabmenu-item-config active") {
		insertAfter(tool_label,header1);
	}
	else {
		tool_label.style.display = "none";
	}
	
	if (header2) {
		insertAfter(tool_label2,header2);
	}
	else {
		tool_label2.style.display = "none";
	}
	
	function insertAfter( newElement, targetElement ){
    var parent = targetElement.parentNode;
    if( parent.lastChild == targetElement ){
        parent.appendChild( newElement, targetElement ); 
    }else{ 
        parent.insertBefore( newElement, targetElement.nextSibling );
    };
	};
	
	XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "config_name")%>', null, function(x, status) {
		if (x && x.status == 200 && status.config_name != "") {
			for(var i in status.config_name){
        config_name.options.add(new Option(status.config_name[i].name,status.config_name[i].name));
    	}
    	if (status.config_path != "") {
    		config_name.value = status.config_path;
    	}
    	else
    	{
    		config_name.options.add(new Option("<%:Not Select%>",""));
    		config_name.value = "";
    	}
		}
		else if (x && x.status == 200 && status.config_path != "") {
			config_name.options.add(new Option(status.config_path,status.config_path));
			config_name.value = status.config_path;
		}
		else {
			tool_label.style.display = "none";
		}
	});
	
	XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "toolbar_show")%>', null, function(x, status) {
		if (x && x.status == 200 && x.responseText != "") {
			document.getElementById("upload_").innerHTML = "<font color=green>"+status.up+"</font>";
			document.getElementById("download_").innerHTML = "<font color=green>"+status.down+"</font>";
			document.getElementById("mem_t").innerHTML = "<font color=green>"+status.mem+"</font>";
			document.getElementById("cpu_t").innerHTML = "<font color=green>"+status.cpu+"</font>";
			document.getElementById("connect_t").innerHTML = "<font color=green>"+status.connections+"</font>";
		}
		else {
			document.getElementById("upload_").innerHTML = "<font color=green>0 KB/S</font>";
			document.getElementById("download_").innerHTML = "<font color=green>0 KB/S</font>";
			document.getElementById("mem_t").innerHTML = "<font color=green>0 KB</font>";
			document.getElementById("cpu_t").innerHTML = "<font color=green>0 %</font>";
			document.getElementById("connect_t").innerHTML = "<font color=green>0</font>";
		}
	});
	
	XHR.poll(1, '<%=luci.dispatcher.build_url("admin", "services", "openclash", "toolbar_show")%>', null, function(x, status) {
		if (x && x.status == 200 && x.responseText != "") {
			document.getElementById("upload_").innerHTML = "<font color=green>"+status.up+"</font>";
			document.getElementById("download_").innerHTML = "<font color=green>"+status.down+"</font>";
			document.getElementById("mem_t").innerHTML = "<font color=green>"+status.mem+"</font>";
			document.getElementById("cpu_t").innerHTML = "<font color=green>"+status.cpu+"</font>";
			document.getElementById("connect_t").innerHTML = "<font color=green>"+status.connections+"</font>";
		}
		else {
			document.getElementById("upload_").innerHTML = "<font color=green>0 KB/S</font>";
			document.getElementById("download_").innerHTML = "<font color=green>0 KB/S</font>";
			document.getElementById("mem_t").innerHTML = "<font color=green>0 KB</font>";
			document.getElementById("cpu_t").innerHTML = "<font color=green>0 %</font>";
			document.getElementById("connect_t").innerHTML = "<font color=green>0</font>";
		}
	});
	
	function switch_config(btn)
	{
		if (config_name.value && config_name.value != "") {
			btn.disabled = true;
			XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "switch_config")%>', {config_name: config_name.value}, function(x, status) {
				if (x && x.status == 200) {
    			btn.disabled = false;
    			alert(config_name.value + ' <%:switching succeeded!%>')
				}
				else {
					alert(config_name.value + ' <%:switching failed!%>')
				}
			});
			return false;
		}
	}
//]]></script>