<%
    local fs = require "luci.openclash"
    local plugin_version = fs.oc_version()
%>
<script src="/luci-static/resources/openclash/js/oc-icons.js?v=<%=plugin_version%>"></script>
<fieldset class="cbi-section">
	<table width="100%">
		<tr>
			<td width="100%" colspan="6">
				<p align="center" id="update_tip" class="oc" style="background-color: unset;">
					<b style="color: var(--info-color);"><%:Note: if the update fails, you can manually download and upload%></b>
				</p>
			</td>
		</tr>
		<tr>
			<td width="16.6%" align="right"><%:Compiled Version%></td>
			<td width="16.6%" align="left">
				<select class="cbi-input-select oc-arch-select" name="CORE_VERSION" id="CORE_VERSION" onchange="saveUpdateOptions()">
				</select>
			</td>
			<td width="16.6%" align="right"><%:Release Branch%></td>
			<td width="16.6%" align="left">
				<select class="cbi-input-select" name="RELEASE_BRANCH" id="RELEASE_BRANCH" onchange="saveUpdateOptions()">
					<option value="master">Master</option>
					<option value="dev">Developer</option>
				</select>
			</td>
			<td width="16.6%" align="right"><%:Smart Core%> 
				<a href="javascript:void(0);" onclick="window.open('https://github.com/vernesong/mihomo/releases', '_blank');" style="color: #0066cc; text-decoration: none;" title="<%:View core infos that support smart group%>">
					<svg width="12" height="12"><use href="#oc-icon-help"/></svg>
				</a>
			</td>
			<td width="16.6%" align="left">
				<select class="cbi-input-select" name="SMART_ENABLE" id="SMART_ENABLE" onchange="saveUpdateOptions()">
					<option value="0"><%:Disabled%></option>
					<option value="1"><%:Enable%></option>
				</select>
			</td>
		</tr>
	</table>
</fieldset>
<fieldset class="cbi-section">
	<table width="100%">
		<tr>
			<td width="100%" colspan="4">
				<p align="center">
					<b><%:Core Update%></b>
				</p>
			</td>
		</tr>
		<tr>
			<td width="25%"><%:CPU Architecture%></td><td width="25%" align="left" id="CPU_MODEL"><%:Collecting data...%></td>
			<td width="25%"><%:Last Check Update%></td><td width="25%" align="left" id="CHECKTIME"><%:Collecting data...%></td>
		</tr>
		<tr>
			<td width="100%" colspan="4">
				<p align="center">
					<b><%:Core path:%>/etc/openclash/core/clash_meta</b>
				</p>
			</td>
		</tr>
		<tr><td width="25%">[Meta] <%:Current Core%></td><td width="25%" align="left" id="CORE_META_CV"><%:Collecting data...%></td><td width="25%">[Meta] <%:Latest Core%></td><td width="25%" align="left" id="CORE_META_LV"><%:Collecting data...%></td></tr>
		<tr><td width="25%"><%:Update Core%></td><td width="25%" align="left" id="core_meta_up"><%:Collecting data...%></td><td width="25%"><%:Download Latest Core%></td><td width="25%" align="left" id="ma_core_meta_up"><%:Collecting data...%></td></tr>
	</table>
</fieldset>
<fieldset class="cbi-section">
	<table width="100%">
		<tr>
			<td width="100%" colspan="4">
				<p align="center">
					<b><%:Client Update%></b>
				</p>
			</td>
		</tr>
		<tr><td width="25%"><%:Current Client%></td><td width="25%" align="left" id="OP_CV"><%:Collecting data...%></td><td width="25%"><%:Latest Client%></td><td width="25%" align="left" id="OP_LV"><%:Collecting data...%></td></tr>
		<tr><td width="25%"><%:Update Client%></td><td width="25%" align="left" id="op_up"><%:Collecting data...%></td><td width="25%"><%:Download Latest Client%></td><td width="25%" align="left" id="ma_op_up"><%:Collecting data...%></td></tr>
	</table>
</fieldset>
<fieldset class="cbi-section">
	<table width="100%">
		<tr>
			<td width="25%" align="center">
				<div style="display: inline-block; white-space: nowrap;">
					<select class="cbi-input-select" name="BACKUP_SELECT" id="BACKUP_SELECT">
						<option value="backup"><%:Backup File%></option>
						<option value="backup_ex_core"><%:Backup Exclude Cores%></option>
						<option value="backup_only_core"><%:Backup Core%></option>
						<option value="backup_only_config"><%:Backup Config%></option>
						<option value="backup_only_rule"><%:Backup Rule Provider%></option>
						<option value="backup_only_proxy"><%:Backup Proxy Provider%></option>
					</select>
					<span id="backup">
						<%:Collecting data...%>
					</span>
				</div>
			</td>
			<td width="25%" align="center" id="restore">
				<%:Collecting data...%>
			</td>
			<td width="25%" align="center" id="remove_core">
				<%:Collecting data...%>
			</td>
			<td width="25%" align="center" id="one_key_update_cdn">
				<%:Collecting data...%>
			</td>
		</tr>
	</table>
</fieldset>

<%+openclash/common%>
<script type="text/javascript">//<![CDATA[
	var core_version   = document.getElementById('CORE_VERSION');
	var checktime      = document.getElementById('CHECKTIME');
	var cpu_model      = document.getElementById('CPU_MODEL');
	var core_meta_cv   = document.getElementById('CORE_META_CV');
	var core_meta_lv   = document.getElementById('CORE_META_LV');
	var op_cv          = document.getElementById('OP_CV');
	var op_lv          = document.getElementById('OP_LV');
	var core_meta_up   = document.getElementById('core_meta_up');
	var op_up          = document.getElementById('op_up');
	var update_tip     = document.getElementById('update_tip');
	var ma_core_meta_up = document.getElementById('ma_core_meta_up');
	var ma_op_up       = document.getElementById('ma_op_up');
	var restore        = document.getElementById('restore');
	var backup         = document.getElementById('backup');
	var backup_select  = document.getElementById('BACKUP_SELECT');
	var one_key_update_cdn = document.getElementById('one_key_update_cdn');
	var remove_core    = document.getElementById('remove_core');
	var release_branch = document.getElementById('RELEASE_BRANCH');
	var smart_enable   = document.getElementById('SMART_ENABLE');

	core_meta_up.innerHTML    = '<input type="button" class="btn cbi-button cbi-button-reload" value="<%:Check And Update%>" onclick="return core_update(this,\'Meta\')"/>';
	op_up.innerHTML            = '<input type="button" class="btn cbi-button cbi-button-reload" value="<%:Check And Update%>" onclick="return op_update(this)"/>';
	ma_core_meta_up.innerHTML  = '<input type="button" class="btn cbi-button cbi-button-reload" value="<%:Download%>" onclick="return ma_core_update(this,\'Meta\')"/>';
	ma_op_up.innerHTML         = '<input type="button" class="btn cbi-button cbi-button-reload" value="<%:Download%>" onclick="return ma_op_update(this)"/>';
	restore.innerHTML          = '<input type="button" class="btn cbi-button cbi-button-reset" value="<%:Restore Default%>" onclick="return restore_config(this)"/>';
	one_key_update_cdn.innerHTML = '<input type="button" class="btn cbi-button cbi-button-reset" value="<%:Check Update%>" onclick="return all_one_key_update_cdn(this)"/>';
	remove_core.innerHTML      = '<input type="button" class="btn cbi-button cbi-button-reset" value="<%:Remove Core%>" onclick="return remove_all_core(this)"/>';
	backup.innerHTML            = '<input type="button" class="btn cbi-button cbi-button-reset" value="<%:Backup File%>" onclick="return backup_file(this)"/>';

	var _versionsLoading = false;
	var _updateTimer     = null;
	var _updateRetryTimer = null;
	var _startLogXHR     = null;
	var _startLogReconnect = null;
	var _lastVersionTimer = null;

	var NORMAL_INTERVAL = 10000;
	var RETRY_INTERVAL  = 5000;

	function compareVersions(v1, v2) {
		var ver1 = v1.replace(/^v/, '').split('.');
		var ver2 = v2.replace(/^v/, '').split('.');
		var maxLen = Math.max(ver1.length, ver2.length);
		while (ver1.length < maxLen) ver1.push('0');
		while (ver2.length < maxLen) ver2.push('0');
		for (var i = 0; i < maxLen; i++) {
			var num1 = parseInt(ver1[i], 10);
			var num2 = parseInt(ver2[i], 10);
			if (num1 > num2) return 1;
			if (num1 < num2) return -1;
		}
		return 0;
	}

	function clearUpdateTimers() {
		if (_updateTimer)      { clearInterval(_updateTimer);      _updateTimer = null; }
		if (_updateRetryTimer) { clearInterval(_updateRetryTimer); _updateRetryTimer = null; }
	}

	function startNormalPolling() {
		clearUpdateTimers();
		fetchUpdate();
		_updateTimer = setInterval(fetchUpdate, NORMAL_INTERVAL);
	}

	function startRetryPolling() {
		clearUpdateTimers();
		if (!_updateRetryTimer) {
			_updateRetryTimer = setInterval(fetchUpdate, RETRY_INTERVAL);
		}
	}

	function stopAllTimers() {
		clearUpdateTimers();
		if (_startLogXHR) { _startLogXHR.abort(); _startLogXHR = null; }
		if (_startLogReconnect) { clearTimeout(_startLogReconnect); _startLogReconnect = null; }
		if (_lastVersionTimer) { clearInterval(_lastVersionTimer); _lastVersionTimer = null; }
	}

	function fetchUpdateInfo() {
		XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "update_info")%>', null, function(x, status) {
			if (x && x.status == 200) {
				core_version.value   = (status.corever && status.corever != '0') ? status.corever : '0';
				release_branch.value = (status.release_branch) ? status.release_branch : 'master';
				smart_enable.value   = (status.smart_enable) ? status.smart_enable : '0';
			} else {
				core_version.value   = '0';
				release_branch.value = 'master';
				smart_enable.value   = '0';
			}
		});
	}

	function fetchLastVersion() {
		XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "get_last_version")%>', null, function(x, status) {});
	}

	function fetchUpdate(force) {
		var params = force ? { force: '1' } : null;
		XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "update")%>', params, function(x, status) {
			if (x && x.status == 200) {
				if (_updateRetryTimer) { startNormalPolling(); }
			} else if (!x || x.status != 200) {
				startRetryPolling();
			}
			updateStatus(x, status);
		});
	}

	function _startPollingLog() {
		if (_startLogXHR) { _startLogXHR.abort(); _startLogXHR = null; }
		if (_startLogReconnect) { clearTimeout(_startLogReconnect); _startLogReconnect = null; }

		var xhr = new XMLHttpRequest();
		xhr.timeout = 5000;
		xhr.open('GET', '<%=luci.dispatcher.build_url("admin", "services", "openclash", "startlog")%>', true);
		xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
		xhr.onload = function() {
			_startLogXHR = null;
			if (xhr.status != 200) { _scheduleLogReconnect(); return; }
			var text = xhr.responseText || '';
			if (text.indexOf('##FINISH##') >= 0) {
				_showRandomTip();
				if (text.match('level=fatal')) {
					XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "del_start_log")%>', null, function() {});
					var msg = (text.split('msg=')[1] || '').replace('##FINISH##', '').trim();
					if (msg) alert('<%:OpenClash Start Failed%> :\n\n' + msg);
				}
				return;
			}
			if (text.match('level=fatal')) {
				XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "del_start_log")%>', null, function() {});
				var msg = (text.split('msg=')[1] || '').replace('##FINISH##', '').trim();
				if (msg) alert('<%:OpenClash Start Failed%> :\n\n' + msg);
				return;
			}
			var lines = text.split('\n');
			var lastLine = '';
			for (var i = lines.length - 1; i >= 0; i--) {
				var t = lines[i].replace('##FINISH##', '').trim();
				if (t) { lastLine = t; break; }
			}
			if (lastLine) {
				var colored = false;
				for (var lk in window.levelTranslations) {
					if (lastLine.indexOf('[' + window.levelTranslations[lk] + ']') >= 0) {
						update_tip.innerHTML = '<b style=color:var(--' + lk + '-color)>' + lastLine + '</b>';
						colored = true;
						break;
					}
				}
				if (!colored) {
					update_tip.innerHTML = '<b style=color:var(--info-color)>' + lastLine + '</b>';
				}
			} else {
				_showRandomTip();
			}
			_scheduleLogReconnect();
		};
		xhr.onerror = function() {
			_startLogXHR = null;
			_scheduleLogReconnect();
		};
		xhr.ontimeout = function() {
			_startLogXHR = null;
			xhr.abort();
			_scheduleLogReconnect();
		};
		xhr.send();
		_startLogXHR = xhr;
	}

	function _scheduleLogReconnect() {
		if (_startLogReconnect) clearTimeout(_startLogReconnect);
		_startLogReconnect = setTimeout(_startPollingLog, 3000);
	}

	function _showRandomTip() {
		var tips = [
			'<b style=color:var(--info-color)><%:Note: if the update fails, you can manually download and upload%></b>',
			'<b style=color:var(--info-color)><%:Note: the client may not support update, because the firmware with squashfs format will not release flash space after updating%></b>',
			'<b style=color:var(--info-color)><%:Note: options will auto-save when you click to update or download%></b>'
		];
		update_tip.innerHTML = tips[Math.floor(Math.random() * 3)];
	}

	function updateStatus(x, status) {
		if (x && x.status == 200) {
			if (_versionsLoading && status.corelv != 'loading...' && status.oplv != 'loading...') {
				_versionsLoading = false;
				if (!_updateTimer && !_updateRetryTimer) {
					startNormalPolling();
				}
			}
			cpu_model.innerHTML = status.coremodel
				? '<b style=color:green>' + status.coremodel + '</b>'
				: '<b style=color:red><%:Model Not Found%></b>';

			checktime.innerHTML = (status.upchecktime != '1')
				? '<b style=color:green>' + status.upchecktime + '</b>'
				: '<b style=color:red><%:Check Failed%></b>';

			core_meta_cv.innerHTML = (status.coremetacv == '0')
				? '<b style=color:red><%:Unknown%></b>'
				: '<b style=color:green>' + status.coremetacv + '</b>';

			if (!_versionsLoading) {
				var corelv = status.corelv;
				if (corelv && corelv != 'loading...' && corelv != status.coremetacv) {
					core_meta_lv.innerHTML = '<b style=color:green>' + corelv + ' <%:<New>%></b>';
				} else if (corelv && corelv != 'loading...') {
					core_meta_lv.innerHTML = '<b style=color:green>' + corelv + '</b>';
				} else if (corelv == 'loading...') {
					core_meta_lv.innerHTML = '<b style=color:green><%:Getting Last Version...%></b>';
				} else {
					core_meta_lv.innerHTML = '<b style=color:red><%:Unknown%></b>';
				}

				op_cv.innerHTML = (status.opcv != '0')
					? '<b style=color:green>' + status.opcv + '</b>'
					: '<b style=color:red><%:Unknown%></b>';

				var oplv = status.oplv;
				if (oplv && oplv != 'loading...' && status.opcv != '0') {
					if (compareVersions(oplv, status.opcv) > 0) {
						op_lv.innerHTML = '<b style=color:green>' + oplv + ' <%:<New>%></b>';
					} else {
						op_lv.innerHTML = '<b style=color:green>' + oplv + '</b>';
					}
				} else if (oplv && oplv != 'loading...') {
					op_lv.innerHTML = '<b style=color:green>' + oplv + '</b>';
				} else if (oplv == 'loading...') {
					op_lv.innerHTML = '<b style=color:green><%:Getting Last Version...%></b>';
				} else {
					op_lv.innerHTML = '<b style=color:red><%:Unknown%></b>';
				}
			}
		}
	}

	function saveUpdateOptions() {
		_versionsLoading = true;
		clearUpdateTimers();
		core_meta_lv.innerHTML = '<b style=color:green><%:Getting Last Version...%></b>';
		op_lv.innerHTML        = '<b style=color:green><%:Getting Last Version...%></b>';
		XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "save_corever_branch")%>', {
			core_ver: core_version.value,
			release_branch: release_branch.value,
			smart_enable: smart_enable.value
		}, function() {
			fetchUpdate(true);
		});
		setTimeout(function() {
			if (_versionsLoading) {
				_versionsLoading = false;
				startNormalPolling();
			}
		}, 60000);
	}

	function core_update(btn, type) {
		_startPollingLog();
		XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "coreupdate")%>', { core_type: type }, function() {
			btn.value = '<%:Check And Update%>';
			btn.disabled = false;
		});
	}

	function op_update(btn) {
		_startPollingLog();
		XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "opupdate")%>', null, function() {
			btn.value = '<%:Check And Update%>';
			btn.disabled = false;
		});
	}

	function ma_core_update(btn, type) {
		var r = release_branch.value;
		var s = smart_enable.value;
		btn.value = '<%:Download%>';
		btn.disabled = false;
		XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "update_ma")%>', core_version.value, function(x, st) {
			if (x && x.status == 200 && st.corever != '0') {
				if (st.oix_core && st.corelv && st.corelv != '' && st.corelv != 'loading...') {
					window.location.href = 'https://github.com/vernesong/mihomo-oix/releases/download/Pre-Alpha/mihomo-' + st.corever + '-' + st.corelv + '.gz';
				} else if (type == 'Meta') {
					window.location.href = 'https://raw.githubusercontent.com/vernesong/OpenClash/core/' + r + '/' + (s == '1' ? 'smart' : 'meta') + '/clash-' + st.corever + '.tar.gz';
				}
			} else {
				alert('<%:No Compiled Version is Selected, Please Select on The Top and Try Again!%>');
			}
		});
		return false;
	}

	function ma_op_update(btn) {
		var r = release_branch.value;
		btn.value = '<%:Download%>';
		btn.disabled = false;
		XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "update_ma")%>', core_version.value, function(x, st) {
			if (x && x.status == 200) {
				var v = st.oplv.substring(st.oplv.indexOf('v') + 1);
				if (v && v != 'loading...') {
					window.location.href = (st.pkg_type == 'apk')
						? 'https://raw.githubusercontent.com/vernesong/OpenClash/package/' + r + '/luci-app-openclash-' + v + '.apk'
						: 'https://raw.githubusercontent.com/vernesong/OpenClash/package/' + r + '/luci-app-openclash_' + v + '_all.ipk';
				} else {
					alert('<%:Failed to get the latest version. Please try again later!%>');
				}
			}
		});
		return false;
	}

	function remove_all_core(btn) {
		btn.disabled = true;
		if (confirm('<%:Are you sure want to remove all core files?%>')) {
			XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash", "remove_all_core")%>', null, function(x) {
				alert((x && x.status == 200) ? '<%:Remove succeeded!%>' : '<%:Remove failed!%>');
			});
		}
		btn.disabled = false;
		return false;
	}

	function backup_file(btn) {
		btn.disabled = true;
		window.location.href = backup_select.value;
		btn.disabled = false;
		return false;
	}

	function all_one_key_update_cdn(btn) {
		btn.value = '<%:Check Update%>';
		btn.disabled = false;
		_startPollingLog();
		return select_git_cdn('one_key_update');
	}

	function startUpdatePage() {
		fetchUpdateInfo();
		fetchLastVersion();
		_lastVersionTimer = setInterval(fetchLastVersion, 300000);

		startNormalPolling();
	}

	window.addEventListener('beforeunload', stopAllTimers);
	startUpdatePage();
//]]></script>
