<%+cbi/valueheader%>
<%
	local fs = require "luci.openclash"
	local filename = fs.filename(self:cfgvalue(section))
	local idname = math.random(1000)..(string.match(filename, "[%w_]+") or "")
%>
<script type="text/javascript">//<![CDATA[
	function act_update_config_<%=idname%>(btn)
	{
		btn.disabled = true;
		btn.value    = '<%:Update%>';
		XHR.get('<%=luci.dispatcher.build_url("admin", "services", "openclash","update_config")%>',{filename: "<%=filename%>"}, function(x,status){});
		btn.disabled = false;
		return false;
	};
	
//]]></script>


<input type="button" class="btn cbi-button cbi-input-reload" value="<%:Update%>" onclick="return act_update_config_<%=idname%>(this)" />
<%+cbi/valuefooter%>
