name: Shell checker

on:
  push:
    paths:
      - '**.sh'
  workflow_dispatch:
  pull_request:

permissions: {}

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
    - name : Checkout
      uses: actions/checkout@v3

    - name: Run ShellCheck
      id: check
      uses: ludeeus/action-shellcheck@master
      with:
       scandir: './luci-app-openclash/root/usr/share/openclash'
